/******
TYPO
******/

@use './variables' as *;

@import "@fontsource/mulish/400.css";
@import "@fontsource/mulish/500.css";
@import "@fontsource/mulish/700.css";


body *{
  color: $color-text;
  font-family: mulish;

  &.team-10-text-dark{
    color: $color-title;
    *{
      color: $color-title;
    }
  }  

  &.team-10-text-main{
    color: $color-main;
    
    *{
      color: $color-main;
    }
  }

  &.team-10-text-white{
    color: white;

    *{
      color: white;
    }
  }
}

h1, h2, h3, h4, h5, h6{
    font-weight: 700 !important;
}

h1{
  font-size: 60px !important;
}