/******
VARIABLES
******/

$body-bg-color: #fff;
$color-main: #7ABC64;
$color-main-dark: #64A64E;
$bg-dark: #333333;
$bg-dark-semitransparent: #3333338C;
$color-text: #7799AD;
$color-title: #494C4E;
$bg-about: #f6f6f6;
$input-border-color: #E7E7E7;
$color-gray: #929AA3;


$font-weight-buttons: 700;